{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended", "prettier/@typescript-eslint", "plugin:prettier/recommended", "plugin:react/recommended"],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "overrides": [
        {
            "files": ["*.js"],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ],
    "rules": {
        "indent": [
            2,
            // Override 4 spaces instead of 2
            4,
            {
                "ignoredNodes": ["JSXElement *", "JSXElement"]
            }
        ],
        "sort-imports": [
            "warn",
            {
                "ignoreCase": false,
                "ignoreDeclarationSort": false,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": ["all", "multiple", "single", "none"]
            }
        ],
        "sort-keys": ["warn", "asc"],
        "react/jsx-sort-props": ["warn", {
            "callbacksLast": true,
            "noSortAlphabetically": false
        }],
        "@typescript-eslint/indent": [
            "error",
            4,
            {
                "ignoredNodes": ["JSXAttribute"]
            }
        ],
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/explicit-member-accessibility": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-unused-vars": 0,
        "@typescript-eslint/no-use-before-define": 0
    }
}
